<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="public_head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="左右结构项目，属于大人员的社交工具">
    <meta name="keywords" content="左右结构项目 社交 占座 ">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>公共片段</title>
    <script th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script  th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $(".meun-item").click(function () {
                $(".meun-item").removeClass("meun-item-active");
                $(this).addClass("meun-item-active");
                var itmeObj = $(".meun-item").find("img");
                itmeObj.each(function () {
                    var items = $(this).attr("src");
                    items = items.replace("_grey.png", ".png");
                    items = items.replace(".png", "_grey.png")
                    $(this).attr("src", items);
                });
                var attrObj = $(this).find("img").attr("src");
                ;
                attrObj = attrObj.replace("_grey.png", ".png");
                $(this).find("img").attr("src", attrObj);
            });
            $("#topAD").click(function () {
                $("#topA").toggleClass(" glyphicon-triangle-right");
                $("#topA").toggleClass(" glyphicon-triangle-bottom");
            });
            $("#topBD").click(function () {
                $("#topB").toggleClass(" glyphicon-triangle-right");
                $("#topB").toggleClass(" glyphicon-triangle-bottom");
            });
            $("#topCD").click(function () {
                $("#topC").toggleClass(" glyphicon-triangle-right");
                $("#topC").toggleClass(" glyphicon-triangle-bottom");
            });
            $(".toggle-btn").click(function () {
                $("#leftMeun").toggleClass("show");
                $("#rightContent").toggleClass("pd0px");
            })
        })
    </script>

    <script th:src="@{/js/html5.js}"  src="js/html5shiv.min.js"></script>
    <script th:src="@{/js/respond.min.js}" src="js/respond.min.js"></script>

    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"  th:href="@{/css/common.css}" href="css/common.css"/>
    <link rel="stylesheet" type="text/css"  th:href="@{/css/slide.css}" href="css/slide.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"  href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/flat-ui.min.css}" href="css/flat-ui.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.nouislider.css}" href="css/jquery.nouislider.css">
</head>
<body>
<!-- 左侧菜单栏目块 -->
<div class="leftMeun" id="public_leftMeun">
    <div id="logoDiv">
        <p id="logoP"><img id="logo" alt="人力资源管理" th:src="@{/images/logo.png}"><span>人力资源管理</span></p>
    </div>
    <div id="personInfor">
        <p id="userName">[[${session.loginUser.username}]] 用户欢迎你!</p>
        <p>
            <a href="logout">退出登录</a>
        </p>
    </div>
    <div class="meun-title">功能列表</div>
    <nav>
        <ul class="list">
            <li ><img th:src="@{/images/icon_source.png}" ><a th:href="@{/bills}">账单管理</a></li>
            <li ><img th:src="@{/images/icon_chara_grey.png}" ><a th:href="@{/providers}">供应商管理</a></li>
            <li ><img th:src="@{/images/icon_user_grey.png}" ><a th:href="@{/user}">用户管理</a></li>
            <li  ><img th:src="@{/images/icon_change_grey.png}" ><a th:href="@{/password}">密码修改</a></li>
        </ul>
    </nav>
</div>
</body>
</html>