<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        #myCanvas{
            background: red;
            height: 200px;
            width: 200px;
        }
    </style>
</head>
<body>
<canvas id="myCanvas">该浏览器不支持HTML5的画质标记！</canvas>
<nav>
    <h1>你好世界！</h1>
    <h6>hello world ！</h6>
    <a href="http://www.baidu.com">连接1</a>
    <a href="#">连接2</a>
    <a href="#">连接3</a>
</nav>
<section>
    <article>
        <header>
            <h1>文章</h1>
        </header>
        <p>文章内容...</p>
        <footer>
            <header>文章注脚</header>
        </footer>
    </article>
</section>
<footer>
    <header>页脚</header>
</footer>
<dialog open>这是打开对话窗口</dialog>
<ul>
    <li>username1</li>
    <li>username1</li>
    <li>username1</li>
    <li>username1</li>
    <li>username1</li>
</ul>
<ol>
    <li>username1</li>
    <li>username1</li>
    <li>username1</li>
    <li>username1</li>
    <li>username1</li>
</ol>

<span>日期</span> <input type="date"/>
<span>电话</span> <input type="tel"/>
<span>搜索文本</span> <input type="search"/>
<span>url地址</span> <input type="url"/>
<span>邮箱</span> <input type="email"/>
<span>密码</span> <input type="password"/>
<span>提交表单</span> <input type="submit"/>
<span>时间</span> <input type="time"/>
<span>颜色文本</span> <input type="color"/>
<span>范围</span> <input type="range"/>
<span>文件</span> <input type="file" multiple/>
<span>隐藏</span> <input type="hidden"/>
<input name="checkbox" type="checkbox" />
</body>
</html>